.c-hex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(136);
  height: rem(136);
  padding: rem(20);
  margin: 0 auto;
  z-index: 1;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0 rem(10);
    z-index: -1;
  }
  &__img {
    max-width: rem(53);
    margin: 0 auto;
  }
  &__text {
    @include h4;
    color: $color-white;
  }
}
