.c-list-diary {
  &__title {
    @include h3;
    letter-spacing: rem(0.11);
    margin-bottom: rem(10);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(12);
    margin-bottom: rem(30);
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__btn {
    text-align: center;
  }
}
