.c-record {
  position: relative;
  background-color: $color-yellow;
  padding: rem(24);
  &__img {
    height: rem(240);
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
  }
  &__title {
    @include h2;
    color: $color-primary;
    white-space: nowrap;
    margin-bottom: rem(5);
  }
  &__btn {
    @include p-md;
    color: $color-white;
    background-color: $color-primary-400;
    padding: rem(2) rem(20);
  }
  &__link {
    @include link-full;
  }
}
