.l-header {
  background-color: $color-dark-2;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .c-logo {
    padding: rem(10) 0;
    @media screen and (min-width: 768px) {
      padding: rem(16) rem(8) rem(8) rem(16);
    }
  }
  .c-nav {
    display: none;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    &__list {
      display: flex;
      gap: rem(45);
      font-family: $font-family-noto;
      color: $color-white;
      margin-right: rem(60);
    }
    &__link {
      display: flex;
      align-items: center;
      gap: rem(8);
    }
    img {
      object-fit: contain;
    }
    &-drawer {
      position: relative;
      height: rem(32);
      z-index: 3;
      &__menu {
        position: absolute;
        top: 100%;
        right: 0;
        width: rem(280);
        background-color: $color-gray;
      }
      &__item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        &:last-child {
          border-bottom: none;
        }
        > a {
          display: inline-block;
          padding: rem(20) rem(30);
          color: $color-white;
        }
      }
    }
  }
}
